<!DOCTYPE html>
<html>
<head>
  <title>Rathna offset</title>
  <link rel="icon" href="images/1.png">
  <body background="images\8.jpg"></body>
  <meta http-equiv="expires" content="no-cache" />
  <FilesMatch "\.(ttf|otf|eot)$">
<IfModule mod_headers.c>
<!--Header set Access-Control-Allow-Origin "*" -->
</IfModule>
</FilesMatch>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Note: Try to remove the following lines to see the effect of CSS positioning */
    {% for i in fonts %}
    @font-face{
	font-family: '{{i[0:2]}}'
	src: URL("fonts/{{i}}") format('ttf');
	}
	 {% endfor %}
    .affix {
        top: 0;
        width: 100%;
        z-index: 9999 !important;
    }
    .affix + .container-fluid {
        padding-top: 70px;
    }
	.div1 {
    border: 2px solid;
    width:105px;
    resize: both;
    overflow: auto;
    position: absolute;
}
    </style>
<script>
function allowDrop(ev) {
    ev.preventDefault();
}

function drag(ev) {
   var style = window.getComputedStyle(event.target, null); 
var dm = document.getElementById(ev.target.id);
dm.style.position = "absolute";
//alert((ev.target.id) + ',' + (parseInt(style.getPropertyValue("left"),10) - event.clientX) + ',' + (parseInt(style.getPropertyValue("top"),10) - event.clientY));
	
    event.dataTransfer.setData("text",
    (ev.target.id) + ',' + (parseInt(style.getPropertyValue("left"),10) - event.clientX) + ',' + (parseInt(style.getPropertyValue("top"),10) - event.clientY));
}

function drop(ev) {
	event.preventDefault(); 
 var offset = event.dataTransfer.getData("text").split(',');
	//alert(offset[0]);
    var dm = document.getElementById(offset[0]);
   
    dm.style.left = (event.clientX + parseInt(offset[1],10)) + 'px';
    dm.style.top = (event.clientY + parseInt(offset[2],10)) + 'px';
	console.log(dm.style.top);
    return false;
}

function myfunc(ele){
	var pi = ele.getElementsByTagName("p");
	for(var i=0;i<pi.length;i++)
		{
			var style = window.getComputedStyle(pi[i], null).getPropertyValue('font-size');
			var fontSize = parseFloat(style); 
			//pi[i].style.fontSize = (fontSize + 1) + "px";
			console.log(ele.style.height);
			pi[i].style.fontSize= (parseFloat(ele.style.height) - 5) + "px";
			console.log(pi[i].style.fontSize);
		}
	}

function getimg(){
	var na = document.getElementById("drag5");
	var logo = document.getElementById("drag4");
	var add3 = document.getElementById("drag3");
	var add2 = document.getElementById("drag2");
	var add1 = document.getElementById("drag1");
	var img = document.getElementById("base");
	var pho = document.getElementById("drag6");
	img = img.getBoundingClientRect();
        var il = parseInt(img.left + window.scrollX);
	 var it = parseInt(img.top + window.scrollY);	
	var namet = document.getElementById("namet");
	var ki = window.getComputedStyle(namet,null).getPropertyValue('font-size');
	var link = "/getphoto?il=" + il + "&it=" + it + "&nal=" + parseInt(na.style.left) + "&nat=" + parseInt(na.style.top) + "&a1l=" + parseInt(add1.style.left) + "&a1t=" + parseInt(add1.style.top) +  "&a2l=" + parseInt(add2.style.left) + "&a2t=" + parseInt(add2.style.top) +   "&a3l=" + parseInt(add3.style.left) + "&a3t=" + parseInt(add3.style.top) + "&lol=" + parseInt(logo.style.left) + "&lot=" + parseInt(logo.style.top) + "&tsize=" + ki + "&phl=" + parseInt(pho.style.left) + "&pht=" + parseInt(pho.style.top);
	location.href = link;
	}
</script>
  </head>
<body>
<div class="container-fluid" style="background-color:rgb(52, 2, 138);color:#fff;height:70px;">
  <center><h1>Rathna Offset Printers</h1></center>
  
</div>

<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="67" >
  <ul class="nav navbar-nav">
    <li class="active"><a href="/">Home</a></li>
    
    <li><a href="#">product</a></li>
    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Order<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/card">Visiting card</a></li>
        <li><a href="#">Greeting card</a></li>
        <li><a href="#">Invitation</a></li>
      </ul>
    </li>
    <li><a href="#">Contact us</a></li>
  <li><a href="/logout">Logout</a></li>
  
  </ul>
</nav><!--nav bar code-->
<form action="/" method="POST"  enctype = "multipart/form-data">
	<div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" name="name">
        </div>	
	<div>
            <label for="status">Status</label>
            <input type="radio" id="status" name="status" value="Order placed">Order placed</input>
	    <input type="radio" id="status" name="status" value="In printing process">In printing process</input>
	    <input type="radio" id="sta	tus"  name="status" value="To be delivered">To be delivered</input>
        </div>	
	<button type="submit" class="btn btn-success">Submit</button>
</form>
	
	
